useDynLib(fingerPro)
exportPattern("^[[:alpha:]]+")

export(CB_Method)
export(CI_Method)
export(DFATest)
export(KWTest)
export(LDAPlot)
export(PCAPlot)
export(Ternary_diagram)
export(boxPlot)
export(correlationPlot)
export(cr_ns)
export(cts_3s)
export(cts_4s)
export(cts_5s)
export(ggbiplot)
export(inputSample)
export(inputSource)
export(least_squares)
export(pairs)
export(plotResults)
export(quartets)
export(rangeTest)
export(triplets)
export(unmix)
export(unmix_R)
export(unmix_R_legacy)
export(unmix_string)
export(writeResults)

import(Rcpp)
import(klaR)
import(ggplot2)
import(GGally)
importFrom(rgl, rgl.open, rgl.clear, rgl.close)
importFrom(MASS, lda)
importFrom(grDevices, rainbow)
importFrom(plyr, ddply)
importFrom(dplyr, select, combine, mutate)
importFrom(gridExtra, grid.arrange)
importFrom(reshape, melt)
importFrom(plotly, add_markers, plot_ly)
import(grid)
import(dplyr)
import(scales)
importFrom(car, scatter3d)
importFrom(stats, aggregate, kruskal.test, prcomp, predict, qchisq, sd, var, na.omit, median, quantile, rt, coef, lm.fit)
importFrom(utils, write.csv, setTxtProgressBar, txtProgressBar, data)
import(Ternary)
importFrom(graphics, par, title)
import(RcppProgress)
